.table {
  margin: 50px 0 50px 0;
  max-width: 900px;
  box-shadow: 0 0px 20px rgb(122, 154, 109);
}

th {
  background-color:rgb(172, 219, 154);
  text-align: center;
  border: none;
  border: 1px solid rgb(122, 154, 109);
  padding: 10px;
}

td {
  text-align: center;
  border: 1px solid rgb(122, 154, 109);
  text-align: center;
  padding: 10px;
}

button {
  border: none;
  cursor: pointer;
}

button svg {
  fill: rgb(87, 87, 87);
}

button:hover svg {
  box-shadow: 0 0px 20px rgba(119, 7, 39, 0.7);
}

.h1 {
  color: #770727;
}

.error {
  border: 1px solid rgb(186, 59, 59);
}

.svgDis {
  fill: #afafb4;
}

.btnDis {
  cursor: no-drop;
}
