.header {
  background: #f7f7f7;
  display: flex;
  justify-content: space-between;
  padding: 16px 41px 14px 40px;
}

.header__menu {
  display: flex;
}

.header__menu a {
  text-decoration: none;
  font-size: 14px;
  color: #858796;
}

.header__menuBurger {
  display: flex;
  align-items: center;
}

.header__menuTeam {
  margin-right: 60px;
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.header__menuTeam svg {
  fill: rgb(102 102 102);
  margin-right: 10px;
}

.header__menuTasks {
  display: flex;
  align-items: center;
}

.header__menuTasks a {
  display: flex;
  align-items: center;
}

.header__menuTasks svg {
  margin-left: 11px;
}

.header__menuTasksItems {
  display: none;
  position: absolute;
  border-radius: 10px;
  width: 150px;
  height: 113px;
  box-shadow: 0 4px 20px 0 rgba(102, 102, 102, 0.15);
  background: #fff;
  box-sizing: border-box;
  top: 60px;
  padding: 30px 30px 15px 20px;
}

.header__menuTasksItem {
  font-size: 14px;
  color: #686464;
  padding-bottom: 15px;
}

.header__menuTasks a:hover,
.header__menuTeam a:hover,
.header__menuTasks a:hover path {
  fill: #3d63d2;
  color: #3d63d2;
}

/* при наведении открывается блок с выпадающим списком */
.header__menuTasks:hover .header__menuTasksItems {
  display: block;
}

.header__search {
  display: flex;
  align-items: center;
  /*смещение для выпадающий списка*/
  position: relative;
}

.header__searchBlock {
  display: flex;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  width: 373px;
  height: 40px;
  background: #efeff5;
}

.header__searchInput {
  display: flex;
  margin: 12px 20px;
  align-items: center;
  width: 100%;
}

.header__searchInput svg {
  margin-right: 10px;
  width: 14px;
  height: 14px;
  fill: rgb(133, 135, 150);
}

.header__searchInput input {
  font-size: 14px;
  color: #000;
  border: 0;
  width: 100%;
  background: #efeff5;
  /*    убираем обводку*/
  outline: none;
}

.header__searchStat {
  width: 20px;
  height: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.header__searchStat svg {
  fill: rgb(102 102 102);
  margin-right: 10px;
}

.header__searchStat:hover path {
  fill: #467df2;
}

.header__searchButton {
  border-radius: 10px;
  width: 83px;
  height: 40px;
  background: #467df2;
  border: 0;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}

.header__searchButton:hover {
  background: #2f54a3;
  cursor: pointer;
}
